:root {
    --bg-color: #f7e7c3;
    --side-bar-bg-color: #F3E6C2 ; 
    --primary-color: #333333;
    --primary-btn-border-color: #333333;
    --primary-btn-text-color: #7A766A;
    --item-hover-bg-color: #fdf1d5;
    --item-hover-text-color: #7A766A;
    --meta-content-color: #7A766A;
    --search-select-text-color: #7A766A;
    --control-text-hover-color: #7A766A;
    --heading-char-color: #7A766A;
}

.dropdown-menu {
    background-color: #fdf1d5 !important;
    border-color: #313d50 !important;
}

@font-face {
    font-family: 'Mono';
    font-style: normal;
    font-weight: normal;
    src: local("Mono Regular"), url("./JetBrainsMono-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    font-style: italic;
    font-weight: normal;
    src: local("Mono It"), url("./JetBrainsMono-Italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    font-style: normal;
    font-weight: bold;
    src: local("Mono Bold"), url(".//JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    font-style: italic;
    font-weight: bold;
    src: local("Mono Bold Italic"), url("./JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    font-display: swap;
}

html {
    background: #f7e7c3;
    font-size: 0.925rem;
}

body {
    background: #f7e7c3;
    color: #333333;
    font-family: "Mono", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 100%;
    line-height: 1.6;
}

hr {
    background-color: rgba(213, 163, 11, 0.57);
    border: 0 none;
    box-sizing: content-box;
    height: 2px;
    margin: 16px 0;
    overflow: hidden;
    padding: 0;
}

li p.first {
    display: inline-block;
}

ul:first-child,
ol:first-child {
    margin-top: 0;
}

ul:last-child,
ol:last-child {
    margin-bottom: 0;
}

a {
    color: #666666;
}

h1, h2, h3, h4, h5, h6 {
    cursor: text;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
}

h1 {
    border-bottom: 1px solid #333333;
    font-size: 3.25em;
    line-height: 1.2;
    padding-bottom: 0.3em;
}

h2 {
    border-bottom: 1px solid #333333;
    font-size: 2.75em;
    line-height: 1.225;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.8em;
    line-height: 1.43;
}

h4 {
    font-size: 1.45em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p, blockquote, ul, ol, dl, table {
    margin: 0.8em 0;
}

blockquote {
    font-family: 'Mono', 'Times New Roman', serif;
    margin: 1rem 0 1rem 0rem;
    position: relative;
    border-left: 4px solid #7397CA;
    padding: 10px 15px;
    color: #777;
    background: #FDF1D5;
}

table {
    font-size: 0.875rem;
    padding: 0;
    word-break: initial;
}

table tr {
    border-top: 1px solid #fdf1d5;
    margin: 0;
    padding: 0;
}

thead {
    background-color: #fdf1d5;
    color: #9dbbdd;
}

table tr th {
    border: 1px solid #d2c9b2;
    border-bottom: solid 2px #ccc;
    border-bottom: 0;
    font-weight: bold;
    margin: 0;
    padding: 10px 16px;
}

table tr td {
    background: #E2DCC5;
    border: 1px solid #d2c9b2;
    margin: 0;
    padding: 10px 16px;
}

table tr th:first-child,
table tr td:first-child {
    margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
    margin-bottom: 0;
}

.dropdown-menu {
    color: #7397CA;
    margin-right: 5px;
}

code {
    background-color: #7397ca;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    line-height: 1.8;
    padding: 2px 7px 2px 7px;
}

input {
    color: #82bed6;
}

img{
    border:none!important;
}
